<h1>Enter a New Contact:</h1>
<form action='/new_address' method="post">
  <input type="text" placeholder="First" name="first" autofocus>
  <input type="text" placeholder="Last" name="last" autofocus>
  <input type="text" placeholder="Age" name="age" autofocus>
  <input type="text" placeholder="Gender" name="gender" autofocus>
  <input type="text" placeholder="DTGD?" name="dtgd" autofocus>
  <input type="text" placeholder="Digits :)" name="phone" autofocus>
  <button> ADD CONTACT </button>
</form>

<p><a href="/">Back To Home</a></p>